# For PCBs designed using KiCAD: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.png
*.xml
*.csv


# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

# .zip files (Used for archive and fab)

*_fab/
archive/


Documents/Block_Diagram/ClockRadio_6x18SegDisp_I2C_Block_Diagram\.graphml

Documents/Block_Diagram/ClockRadio_6x18SegDisp_I2C_Block_Diagram\.odt
