# For PCBs designed using KiCAD: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.zip
*.png
*.xml
*.csv


# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

# .zip files (Used for archive and fab)

*_fab/

Docs/I2C_6x18segDisp\.ods
